<!DOCTYPE html>
<html lang="auto">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png" sizes="22x27"> 
  {% block header %} {% endblock %}
  <script>
    function togglesidebar() {
      if (document.getElementById("sidebar").style.display == "none") {
        document.getElementById("sidebar").style.display = "initial"
        document.getElementById("mainbody").style.width = "50%"
        document.getElementById("sidebar").style.width = "50%"
      }
      else {
        document.getElementById("sidebar").style.display = "none";
        document.getElementById("article").style.width = "100%"
        document.getElementById("mainbody").style.width = "100%"
      }
    } 
  </script>
</head>

<body>
  
  <div id="wrapper">
  
    <aside id="sidebar">
      <div id="header">
        <a href="{{ websiteUrl }}"><img src="{{ url_for('static', filename='logo.png') }}" /></a>
        <h2>{{websiteDesc}}</h2>
      </div>
      
      <ul>
        {% for bookpage in bookpages %}
        <a href="{{ websiteUrl }}/bookpage/{{bookpage[2]}}"><li> {{ bookpage[0] }}</li></a>
        {% endfor %}
      </ul>
      
      <footer>    
        <p>مُشغّل بواسطة <a href="https://github.com/mhsabbagh/mujallad">سكربت مجلّد</a></p>
      </footer>
    </aside>
    
    <a id="toggle" style="display:none;font-size: 120%;margin-right: 10px;padding: 10px;" onclick="togglesidebar()">☰</a>

    <div id="mainbody">
      <article id="article">
        {% block content %} {% endblock %}
      </article>
    </div>


    </div>


</body>

</html>
